{% extends "base.html"%}

{% block content %}
<div class="col-5">
  <h1>QR Code Generator</h1>
  <form class="form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset>
    {{ form.hidden_tag() }}

    <!-- Form Name -->
    <legend>QR Code Generator</legend>
    <p>Enter the text you want in the QR code
    and it will be displayed as a GIF file.</p>

    <!-- File Button -->
    <div class="control-group">
      <label class="control-label" for="qrcode_text">QR code text</label>
      <div class="controls">
        {{ form.qrcode_text(size=32) }}
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="sbutton">Get QR Code</label>
      <div class="controls">
        {{ form.submit() }}
    </div>
    </fieldset>
  </form>
</div>
{% endblock %}
