{% extends "base.html"%}

{% block content %}
<div class="col-5">
  <h1>PDF Booklet Maker</h1>
  <form class="form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset>
    {{ form.hidden_tag() }}

    <!-- Form Name -->
    <legend>Make your own tiny booklets!</legend>
    <p>Use the Choose button to select a PDF file.
    Hit Submit and you will receive a zip file containing
    two PDF files, one of odd sides and one of even sides.
    Print the even sides, then run the same paper through
    to print the odd sides.</p>
    <p>Suppose your input file were called "input.pdf."
    The returned file would be called "input.booklet.pdf.</p
    <!-- File Button -->
    <div class="control-group">
      <div class="controls">
        {{ form.file_details(size=32) }}
      </div>
    </div>
    <hr/>
    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="sbutton"></label>
      <div class="controls">
        {{ form.submit() }}
    </div>
    </fieldset>
  </form>
</div>
{% endblock %}
